@media screen and (max-width: 1280px){
    .box-grid-report-niso{
        grid-template-columns: repeat(3, 1fr);
    }
    .width-m{
        width: 200px !important;
    }
}
@media screen and (max-width: 1024px){
    .box-grid-report-niso{
        grid-template-columns: repeat(2, 1fr);
    }
}